.Header-Accent {
    background-color: #1A1E22;
    padding: 0.5rem;
}

.Header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #034167;
    color: white;
}

.Add-Button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background: transparent;
    &:hover {
        color: darken(white, 20%);
    }
}